* {
  box-sizing: border-box;
}

.main-wrapper {
  width: 800px;
  padding-top: 44px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fcfcfd;
}

/*HEADER*/

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "link ."
    "title title"
    "paragraph-1 paragraph-1"
    "paragraph-2 paragraph-2"
    "paragraph-3 .";
  justify-items: start;
  align-items: end;
  place-content: stretch;
  width: 100%;
  height: auto;
  padding-bottom: 24px;
}
.header__link {
  grid-area: link;
  font-size: 16px;
  color: #383f4e;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.header__title {
  grid-area: title;
  font-size: 38px;
  color: #2a303b;
  margin-top: 12px;
}
.header__paragraph-1 {
  grid-area: paragraph-1;
  font-size: 18px;
  color: #2a303b;
  margin-top: 8px;
}
.header__paragraph-2 {
  grid-area: paragraph-2;
  font-size: 14px;
  color: #717b8e;
  margin-top: 16px;
}
.header__paragraph-3 {
  grid-area: paragraph-3;
  font-size: 14px;
  color: #717b8e;
  margin-top: 16px;
}

/*CONTENT*/

.article-content {
}
